* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}

.navbar {
    background: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #e0e0e0;
}

.nav-top {
    height: 80px;
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo Styling */
.logo a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
}

.logo span {
    font-size: 8px;
    letter-spacing: 1px;
    margin-top: -5px;
}

/* Desktop Links Logic */
.nav-links-desktop {
    display: flex; /* Always show on desktop */
    list-style: none;
}

.nav-links-desktop li {
    margin: 0 15px;
}

.nav-links-desktop a {
    text-decoration: none;
    color: #666;
    font-size: 11px;
    letter-spacing: 1px;
    transition: 0.3s;
}

.nav-links-desktop a:hover {
    color: #000;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hamburger {
    font-size: 22px;
    cursor: pointer;
}

/* MOBILE DROPDOWN (Hidden by default) */
.mobile-dropdown {
    display: none; /* Only shows when toggled */
    list-style: none;
    background: #fff;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #eee;
}

.mobile-dropdown li {
    padding: 12px 5% ;
}

.mobile-dropdown a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

/* RESPONSIVE RULES */
@media (max-width: 992px) {
    .nav-links-desktop {
        display: none; /* Hide simple links on mobile */
    }
}

/* Class to show menu */
.show-menu {
    display: block !important;
    }
